<nav>
<% if user_signed_in? %>
<span3 class='nav-greeting'> <%= "Welcome back, #{current_user.email}" %> </span>
<%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
<% else %>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>
<%end%>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Paramount Motors", root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to "Sign In", new_user_session_path %>
      </li>
      <li class="nav-item">
      <%= link_to "Sign Up", new_user_registration_path %>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>