<p id="notice"><%= notice %></p>
<div class="card" style="width: 30rem;">
<%= image_tag @vehicle.picture, class:"card-img-top"%>
<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Details:</strong>
  <%= @vehicle.details %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>
</div>
<td><% if can? :update, @vehicle %><%= link_to 'Edit', edit_vehicle_path(@vehicle), class:"btn btn-primary" %> <% end %></td>
<td><% if can? :destroy, @vehicle %><%= link_to 'Destroy', @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %><% end %></td>
<%= link_to 'Back', vehicles_path %>